.socket-color#socket
  .container
    .template-page.tpl-no.col-xs-12.col-sm-12
      .wrap-content
        .row
          .col-sm-12
            .gap-10
          .col-sm-12
            p(style="text-align: center;").
              INSPIRY<sup>®️</sup>意锐 | 北京意锐新创科技有限公司
            p(style="text-align: center;").
              地址：北京市海淀区上地西路6号 联想北研大厦D栋5层 | 免费拨打400-161-0661
            p(style="text-align: center;").
              Copyright © 2002-2017 | 京ICP备 12049860号 | 京公网安备 11010802024108号
          .col-sm-12
            .gap-10