#header.header-color
  .navbar
    #undefined-sticky-wrapper.sticky-wrapper.is-sticky
      .kleo-main-header.header-scrolled
        .container
          .navbar-header
            strong.logo
              a(href="#")
                img(src="http://www.inspiry.cn/wp-content/uploads/sites/36/2017/06/logo_2017.png", alt="")
          .primary-menu.collapse.navbar-collapse.nav-collapse
            ul.nav.navbar-nav
              li.menu-item.menu-item-type-post_type.menu-item-object-page
                a(href="#") 产品
              li.menu-item.menu-item-type-post_type.menu-item-object-page
                a(href="#") 场景
              li.menu-item.menu-item-type-post_type.menu-item-object-page
                a(href="#") 技术支持
              li.menu-item.menu-item-type-post_type.menu-item-object-page
                a(href="#") 案例
          



